body{
    font-family: 'Roboto', sans-serif;
}

/* wordlist container is shared between {definition} */
#contactUs{
    /* position: relative; */
    height: 90%;
    margin-right: 5px;
}

#contact{
    padding: 5px 0 5px 0; 
}
.contact .text{
    color: #F97C05!important;
}

.addWord .text{
    color: #FFC900!important;
}

#contactUs, #definition {
    border: 1px solid yellow;
    /* height: 95%; */
}
form{width: 100%;}

.form-title {
    font-family: 'Fjalla One', sans-serif!important;
    /* font-size: 3rem; */
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 42px;
    line-height: 80px;
}

.form-info{
    padding-left: 0;
}
.form-text{
    font-size: 15px;
}

.form-group{
    padding-top: 20px;
}
input{
    font-size: 12px!important;
    padding-bottom: 15px!important;
}

input[type="text"],input[type="email"],input[type="checkbox"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  color: #fff;
  padding-left: 0;
  text-transform: uppercase;
}

input[type="text"],input[type="email"],input[type="checkbox"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}


.form-check {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 22px!important;
}

.form-class-button{
    margin-top: 20px;
    /* padding-left: 22px!important; */

}

.form-check label{
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 2px;
    padding-left: 20px;
}

.btn-circle.btn-lg {
    width: 60px;
    height: 60px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
    margin-right: 10px; 
}

#submit .btn {
    padding: 23px 108px!important;
    font-size: 15px;
    border-radius: 0;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
}

#getInvolved {
   font-weight: 900px;
   /* font-size: 14px; */
   letter-spacing: 3px;
   /* padding: 0; */
   float: right;
   /* margin: auto; */
}

.bottom-row {
    margin-top: 50px;
}