#word-def{
    background: black;
}

/* ----------style --------*/

.word {
    font-size: 40px;
    font-family: 'Fjalla One', sans-serif!important;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* color class for word definision page */
#definition{
    padding-top: 100px;
}

.def-color{
    color: #FFC900;
}

.word-sound{
    font-size: 18px;
    letter-spacing: 2px;
}
.word-original-use{
    font-size: 14px;
    letter-spacing: 1px;
}
.language{
    font-size: 14px;
    letter-spacing: 1px;
}

.social-media{
    margin: 40px 0;
}
.social-media{
    margin: 40px 0 40px 0;
}
.social-media h5{
    font-size: 14px;
    text-transform: uppercase;
}

.slidecontainer h5{
    text-transform: uppercase;
    font-weight: 400;
}
.slidecontainer h5, .slidecontainer div{
    padding: 20px 0;
}

.value span{
    margin: auto;
    padding: 30px 0;
}






















/* -------------------------slider */
.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    /* width: 25px; */
    width: 30px;
    /* height: 25px; */
    height: 30px;
    /* background: #4CAF50; */
    background-image: url("../images/like.png");
    cursor: pointer;
    
}

.slider::-moz-range-thumb {
    /* width: 25px; */
    /* height: 25px; */
    width: 30px;
    height: 30px;
    /* background: #4CAF50; */
    background-image: url("/images/like.png");
    cursor: pointer;
}